.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.movielistcontainer{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;

}
.moviecontainer{
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  width: 300px;
}
.hiddenmovie{
  display: none;
}
.title{
  font-family: 'Luckiest Guy', cursive;
  font-size: 4em;
}
.movietitle{
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
}
