body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

input[type="text"] {
  width: 400px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px;
  font-size: 16px;
  margin: 0 10px;
}
